 
<style>
    #btnBuscar {
        background-image: url(/Content/TenarisIcons/icon_search.png);
         background-repeat:no-repeat;
         background-size:16px;
         margin-top:5px; 
         width:150px; 
         font-size:10pt;
         font-weight:bold;
    }
</style>

<!-- Row de Fecha y y Turno *******************  Zona de Búsqueda de la Producción  ************************** -->

@using (Html.BeginForm("Search", "Tool", FormMethod.Post, new { @name = "frmSearch", @id="frmSearch" }))
{
    <div class="row" style="border:1px solid #000; margin-top:1px; margin-bottom:1px">
        <table style="width: 100%; border-spacing: 2px;" class="tableData">
            <tr>
                <td class="itemcell" id="lbl1">
                    Matricula
                </td>
                <td class="itemcellValue">
                    <input id="Tag" name="Tag" type="text" class="textBox" />
                </td>
                <td class="itemcell" id="lbl2">
                    Estado
                </td>
                <td class="itemcellValue">
                    <input id="Status" name="Status" type="text" class="textBox" />
                </td>
            </tr>
            <tr>
                <td class="itemcell" id="lbl3">
                    Stdkgtonslan
                </td>
                <td class="itemcellValue">
                    <input id="Stdkgtonslan" name="Stdkgtonslan" type="text" class="textBox" />
                </td>
                <td class="itemcell" id="lbl4">
                    Calibre
                </td>
                <td class="itemcellValue">
                    <input id="Calibre" name="Calibre" type="text" class="textBox" />
                </td>
            </tr>

        </table>
    </div>
}
<!--  ROW del botón  ***********************************************************                 -->
<div class="row Tenaris" style="border:1px solid #000; margin-top:1px; margin-bottom:1px">

    <div class="form-group">
        <div class="col-sm-6" style=" padding-bottom:5px">
            <input id="btnBuscar" type=button value="Buscar" class="csbutton" />                        
        </div>
    </div>

</div> <!-- Fin del ROW del Botón Buscar -->
<script>
    $.datepicker.setDefaults($.datepicker.regional['es-MX']);
    //$.datepicker.setDefaults($.datepicker.markerClassName['.Tenaris']);
   
    $("#txtFechaInicio").datepicker();
    $("#txtFechaFin").datepicker();
    $('#ui-datepicker-div').wrap('<div class="Tenaris"></div>');
    $('#btnBuscar').button().click(function () {
        $("#frmSearch").submit();
    });
    $("#Type").keyup(function () {
        if (this.value != this.value.replace(/[^0-9\.]/g, '')) {
            this.value = this.value.replace(/[^0-9\.]/g, '');
        }
    });
</script>
