<script>

    $(document).ready(function () {
        $('div table')
             .button()
             .click(function () {
                 if (this.id == "mnAddTool") {
                     location.href = "@Url.Action("Index","Tool")";
                 }
                 if (this.id == "mnFindTool") {
                     location.href = "@Url.Action("Find","Tool")";
                 }
                 if (this.id == "mnCreateTool") {
                     location.href = "@Url.Action("Create","Tool")";
                 }
                 
                 if (this.id == "mnTestView") {
                     location.href = "@Url.Action("testView", "Home")";
                 }
             });
    });

  

</script>
<style>
    .ulmenu
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
     .ulmenu li
    {
        float: left;
    }
    
     .ulmenu li a
    {
        display: block;
        padding: 8px;
        background-color: #dddddd;
    }
    
    .mbtn
    {
        width:215px;
        
        }
</style>
<div class="Tenaris">

<ul class="ulmenu">
    <li>
        <div class='mbtn'>
            <table id="mnAddTool">
                <tr>
                    <td>
                        <img src='images/Mandril_84891-8107635.jpg' width="50" height="50" alt="Mandriles" />
                    </td>
                    <td>
                        Añadir
                    </td>
                </tr>
            </table>
        </div>
    </li>
    <li>
        <div class='mbtn'>
            <table id="mnFindTool">
                <tr>
                    <td>
                        <img alt="Puntas" height="50" src='images/Punta_368x310_10041164e0bcba6.jpg' width="50" />
                    </td>
                    <td>
                        Buscar 
                    </td>
                </tr>
            </table>
        </div>
    </li>
     <li>
        <div class='mbtn'>
            <table id="mnCreateTool">
                <tr>
                    <td>
                        <img alt="Puntas" height="50" src='images/Punta_368x310_10041164e0bcba6.jpg' width="50" />
                    </td>
                    <td>
                        Crear 
                    </td>
                </tr>
            </table>
        </div>
    </li>
    <li>
        <div class='mbtn'>
            <table id="mnTestView">
                <tr>
                    <td>
                        <img alt="Puntas" height="50" src='images/Punta_368x310_10041164e0bcba6.jpg' width="50" />
                    </td>
                    <td>
                        TestView
                    </td>
                </tr>
            </table>
        </div>
    </li>
   
</ul>
</div>
