@model IEnumerable<Tenaris.Tamsa.HRM.Fat2.DataAccess.Models.Tool_Type>

<script>

    $(document).ready(function () {
        $('div table')
             .button()
             .click(function () {                 
                 location.href = "@Url.Action("Create", "Tool")?idToolType=" + this.id; //por el momento Puntas 
             });
    });
</script>
<style>
    .ulmenu
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
     .ulmenu li
    {
        float: left;
    }
    
     .ulmenu li a
    {
        display: block;
        padding: 8px;
        background-color: #dddddd;
    }
    
    .mbtn
    {
        width:215px;
        
        }
</style>
<div class="Tenaris">

<ul class="ulmenu">
    @foreach(var item in Model)
    { 
    <li>
        <div class='mbtn'>
            <table id="@(item.idType)">
                <tr>
                    <td>
                        <img src='images/Mandril_84891-8107635.jpg' width="50" height="50" alt="Mandriles" />
                    </td>
                    <td>
                        @(item.Name)
                    </td>
                </tr>
            </table>
        </div>
    </li>
    }
    
</ul>
</div>
