 
<link href="~/Content/TenarisWebApplication.css" rel="stylesheet" />

<!-- Row de Fecha y y Turno *******************  Zona de Búsqueda de la Producción  ************************** -->
<table style="width: 100%; border-spacing: 2px;" class="tableData">
    <tr>
        <td class="itemcell" id="lbl1">
            Tipo
        </td>
        <td class="itemcellValue">
            <input id="txtType" type="text" class="textBox" />
        </td>
        <td class="itemcell" id="lbl2">
            Codigo
        </td>
        <td class="itemcellValue">
            <input id="txtCode" type="text" class="textBox" />
        </td>
        <td class="itemcell" id="lbl3">
            Nombre
        </td>
        <td class="itemcellValue">
            <input id="txtNombre" type="text" class="textBox" />
        </td>
        <td class="itemcell" id="lbl4">
            Descripcion
        </td>
        <td class="itemcellValue">
            <input id="txtDescription" type="text" class="textBox" />
        </td>
    </tr>
   
</table>
<!--  ROW del botón  ***********************************************************                 -->
<div class="row" style="border:1px solid #000; margin-top:1px; margin-bottom:1px">

    <div class="form-group">
        <div class="col-sm-6" style=" padding-bottom:5px">
            <input id="btnBuscar" type=button value="Buscar" class="csbutton" style="background-image: url(/Content/TenarisIcons/icon_search.png); margin-top:5px; width:130px;" />                        
        </div>
    </div>

</div> <!-- Fin del ROW del Botón Buscar -->
<script>
    $.datepicker.setDefaults($.datepicker.regional['es-MX']);
    //$.datepicker.setDefaults($.datepicker.markerClassName['.Tenaris']);
   
    $("#txtFechaInicio").datepicker();
    $("#txtFechaFin").datepicker();
    $('#ui-datepicker-div').wrap('<div class="Tenaris"></div>');
    $('#btnBuscar').button();
</script>
